#root {
  width: 1920px;
  text-align: center;
}

.container-father {
  height: auto;
  width: 100vh;
  display: flex;
}

.container-father > div {
  padding: 1em;
}

.container-four > h1 {
  font-size: 1.5em;
  line-height: 4.3em;
}

.container-five>img {
  margin-top: 25px;
}

.container-five > p {
  margin-top: 30.5px;
}

.container-six>p {
  margin-top: 25.5px;
}

.logo {
  height: 6em;
  padding: 3em;
  will-change: filter;
  transition: filter 300ms;
}


.logo-axios {
  height: 6em;
  padding: 3em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-router {
  height: 5.5em;
  padding: 3em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-npm {
  height: 4em;
  padding: 3em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-node {
  height: 6em;
  padding: 3em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-node:hover {
  filter: drop-shadow(0 0 2em #5cff11d5);
}

.logo-npm:hover {
  filter: drop-shadow(0 0 2em #ff3511d5);
}

.logo-router:hover {
  filter: drop-shadow(0 0 2em #ff00008f);
}

.logo-axios:hover {
  filter: drop-shadow(0 0 2em #0d7affaa);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
